<nav class="navbar navbar-expand-lg  navbar-dark bg-primary ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Student Management</a>
  <ul class="navbar-nav mr-auto">
    <!-- <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricingg</a>
    </li> -->
  </ul>
  <ul class="navbar-nav" *ngIf="name">
     
    <li class="nav-item" >
      <a class="nav-link">Hi..{{name|titlecase}}</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item forcur" (click)="logout()">Logout</a>
        <a class="dropdown-item forcur" (click)="changepassword()" >Change Password</a>
        </div>
    </li>
  </ul>
</nav>
