<app-header>

</app-header>
<div class="container">

  <div class="row" style="margin-top: 50px">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-header  card bg-primary text-white">
          Register
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label labelalign">Full Name</label>

              <input type="text" class="form-control col-sm-9" id="username" required pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="model.username"
                name="username" #username="ngModel">
              <a [hidden]="username.valid || username.pristine" class="alert alert-danger">
                  <!-- <a [hidden]="!username.hasError('required')" href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a> -->
                <div [hidden]="!username.hasError('required')">username is required</div>
                <div [hidden]="!username.hasError('pattern')">Only alphabetsallowed</div>
                </a>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label labelalign">E-Mail</label>
              <input type="text" class="form-control col-sm-9" id="emailaddress" required [(ngModel)]="model.email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                #email="ngModel">
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                <div [hidden]="!email.hasError('required')">Email is required</div>
                <div [hidden]="!email.hasError('pattern')">Email format should be
                  <small>
                    <b>joe@abc.com</b>
                  </small>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label labelalign">Mobile No</label>

              <input type="text" class="form-control col-sm-9" id="mobilenumber" required [(ngModel)]="model.mobile" name="mobilenumber"
                pattern="[0-9]*" minlength="10" maxlength="10" #mobile="ngModel">
              <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger">
                <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                <div [hidden]="!mobile.hasError('pattern')">Mobile numberr should be only numbers</div>
              </div>

            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label labelalign">Password</label>

              <input type="password" class="form-control col-sm-9" id="password" required [(ngModel)]="model.password" name="password"
                #password="ngModel">
              <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label labelalign">Cofirm Password</label>

              <input type="password" class="form-control col-sm-9" id="conf_password" required validateEqual="password" [(ngModel)]="model.conf_password"
                name="conf_password" #conf_password="ngModel">
              <div [hidden]="conf_password.valid || conf_password.pristine" class="alert alert-danger">
                Passwords did not match
              </div>

            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="inputPassword" class="">
                  <a type="text" (click)="login()" class="col-form-label">Already Registered ? Login</a>
                </label>
                <br>
                <label for="inputPassword" class="">
                  <a type="text" (click)="forgetpassword()" class="col-form-label">Forget Password ? </a>
                </label>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="float-right btn btn-primary" [disabled]="!loginForm.form.valid">Register</button>
              </div>
          </div>  
          </form>

        </div>
      </div>
    </div>
  </div>
</div>